{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react-native-alias": "react-native-web",
          "styled-components-alias": "styled-components"
        }
      }
    ]
  ]
}
