//! Also add aliases to next.config.js
//! then completely stop app and re-run npm run dev
{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "react-native": "react-native-web",
          "styled-components-alias": "styled-components",
          "use-session-alias": "next-auth/react"
        }
      }
    ]
  ]
}
